.content {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.thongBao {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}

.thongBao1 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}
.thongBao2 {
  background-color: blue;
  color: white;
  font-size: 30px;
  text-align: center;
}
